header{
Color:#234d37;
Padding:15px;

}
nav{
text-align:Right;
Color:#27234d;
font-family:Arial,sans-serif;
}
Section
{
Color:#374d23;
background color:#4d2347;
}
Container
{
Padding:10px;
}
body{

background color:#4a4d23;
}